# Compilados de Java
*.class
*.war
*.ear
*.jar

# Archivos de logs
*.log

# Archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Archivos generados por Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Archivos de Eclipse/IDEA/NetBeans (si usas IDEs)
# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.project
.classpath
.settings/
bin/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# Archivos temporales del sistema
*.swp
*.swo